body {
    font-family: sans-serif;
    background-color: linen;
    background-image: url('https://pbs.twimg.com/profile_images/889518226958188544/8ivQX8hE_bigger.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:10px 20px;
    margin-top: 110px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 1000px;
}

