body {
    font-family: sans-serif;
    background-color: linen;
    background-image: url('/ui/madi.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:500px 20px;
    margin-top: 10px;
}

.center {
    text-align: left;
    text-shadow:2px 2px 16px green;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}

